<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36}.%M\(%line\) - %msg%n
            </pattern>
        </encoder>
    </appender>

	<timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss" />
    <appender name="STDERR" class="ch.qos.logback.core.FileAppender">
    	<file>errorFile.log</file>
    	<append>true</append>
    	<immediateFlush>true</immediateFlush>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} %-5level %logger{36}.%M\(%line\) - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss" />
    <appender name="STDINFO" class="ch.qos.logback.core.FileAppender">
    	<file>infoFile.log</file>
    	<append>true</append>
    	<immediateFlush>true</immediateFlush>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} %-5level %logger{36}.%M\(%line\) - %msg%n
            </pattern>
        </encoder>
    </appender>


	<logger name="com.ftn.authservice" level="info">
  		<appender-ref ref="STDINFO" />
	</logger>
	
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
        
</configuration>