<div class="filtersection">
  <h2>Filter by:</h2>
  <hr>

  <h5>Type</h5>
  <div class="types">
    <input type="checkbox" (change)="filter($event)" name="All-inclusive" id="all-inc"> All-inclusive <br>
    <input type="checkbox" (change)="filter($event)" name="nesto" id="nesto"> Breakfast & dinner <br>
    <input type="checkbox" (change)="filter($event)" name="nesto2" id="nesto2"> Nesto <br>
  </div>

  <h5>Services</h5>
  <div class="services">
    <input type="checkbox" (change)="filter($event)" name="Parking" id="parking"> Parking <br>
    <input type="checkbox" (change)="filter($event)" name="Wifi" id="wifi"> Wifi <br>
    <input type="checkbox" (change)="filter($event)" name="Breakfast" id="breakfast"> Breakfast <br>
    <input type="checkbox" (change)="filter($event)" name="TV" id="tv">TV <br>
    <input type="checkbox" (change)="filter($event)" name="Kitchen" id="kitchen"> Kitchen <br>
    <input type="checkbox" (change)="filter($event)" name="Bathroom" id="bathroom">Bathroom <br>
    <input type="checkbox" (change)="filter($event)" name="Pets" id="pets">Pets allowed <br>
  </div>

  <h5>Distance from destination</h5>
  <div class="distance">
    <input type="text">
    <select>
      <option>m</option>
      <option>km</option>
    </select>
  </div>
</div>


<!--
Tip smeštaja (hotel, bed&breakfast, apartman);
§ Kategorija smeštaja (nekategorisan ili 1-5 zvezdica);
§ Udaljenost od tražene lokacije;
§ Dodatne usluge koje očekuje da su na raspolaganju – Parking, WiFi, Doručak, Polu
pansion, Pansion, All Inclusive, Dozvoljeni kućni ljubimci, TV, Mini kuhinja/kuhinja,
Privatno kupatilo, Da li je dozvoljeno besplatno otkazivanje (i datum do koga je to
moguće – morao bi se računati automatski – broj dana pre termina početka
rezervacije);
-->
