<div class="filtersection">
  <h2>Filter by:</h2>
  <hr>

  <!--
  <h5>Type</h5>
  <div class="types" *ngFor="let tt of allTypes">
    <input type="checkbox" (change)="filter($event)" name="{{tt.name}}" id="{{tt.name}}"> {{tt.name}} <br>
  </div>
  -->

  <h5>Services</h5>
  <div class="services">
    <span *ngFor="let aa of allAdditionalServices">
        <input type="checkbox" (change)="filter($event)" name="{{aa.name}}" id="{{aa.name}}"> {{aa.name}} <br>  
    </span>
  </div>

  <h5>Distance from destination</h5>
  <div class="distance">
    <input (input)="onInput()" [formControl]="distance" type="text">
    <select (change)="onInput()" [formControl]="unit">
      <option selected>m</option>
      <option>km</option>
    </select>
  </div>
</div>


<!--
Tip smeštaja (hotel, bed&breakfast, apartman);
§ Kategorija smeštaja (nekategorisan ili 1-5 zvezdica);
§ Udaljenost od tražene lokacije;
§ Dodatne usluge koje očekuje da su na raspolaganju – Parking, WiFi, Doručak, Polu
pansion, Pansion, All Inclusive, Dozvoljeni kućni ljubimci, TV, Mini kuhinja/kuhinja,
Privatno kupatilo, Da li je dozvoljeno besplatno otkazivanje (i datum do koga je to
moguće – morao bi se računati automatski – broj dana pre termina početka
rezervacije);
-->
