<div class="searchobject">
  <div class="image">
    <img src="assets/bg_2.jpg" alt="">
  </div>
  <div class="header">
    <h1>{{accUnit.accommodationObject.name}}</h1>
    <p>{{address.street}} {{address.streetNumber}}, {{address.town}}</p>
    <div class="informations">
      <p>
          <b>{{reservation.beginDate}} - {{reservation.endDate}}</b>
      </p>
      <p>
        Object informations: {{accUnit.accommodationObject.description}}
      </p>
      <p>
        Unit informations: {{accUnit.description}}
      </p>
      <p>
        Additional services:
        <b *ngFor="let additionalService of accUnit.additionalServices">{{additionalService.name}} </b>
      </p>
    </div>
  </div>
  <div class="rightside">

    <div class="rating">
      <!--<p>Rating:<b>{{accUnit.rating}}</b> </p>  -->
     
  
      <div class="price">
        <p>Price per night:</p>
        <p><b>EUR {{this.accUnit.price.price}}</b></p>
      </div>
      
      <div class="availability">
        <div *ngIf="indicator==false" class="rating_form">
          <label for="">Rating</label>
          <select [formControl]="rating" name="" id="" style="margin-left: 68%;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>

          <br>
              <label for="">Comment</label>
              <input [formControl]="comment" type="text" style="margin-left:10px;">
          <br>
        
        <button *ngIf="indicator==false" style="margin-left: 78%;" (click)="Rate()">Rate</button>
      </div>
        <button (click)="cancelReservation()" *ngIf="indicator==true">Cancel</button>

      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Rate booking</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             
            <br>
              <label for="">Comment</label>
              <input [formControl]="comment" type="text">

            </div>
            <br>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="float:left" data-dismiss="modal">Close</button>
              <button type="button" (click)="Rate()" class="btn btn-primary" style="float:right" data-dismiss="modal">Rate</button>
            </div>
          </div>
        </div>
      </div>
  
    </div>

  </div>
  



  
</div>