.searchobject {
    width: 105%;
    height: 400px;
    margin-top: 30px;
    border:1px solid #c6c6c6;
    border-radius: 1%;
}

.rating_form{
    margin-top:37%;
    border:1px solid #6495ED;
    border-radius: 1%;
    padding: 5px;
    background: 	#e9e9e9;
}

.searchobject:hover {
    background: cornsilk;
}

.image {
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 13px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}



.header {
    position: absolute;
    margin-top: 10px;
    margin-left: 240px;
}

.informations {
    margin-top: 20%;
}

.rightside {
    float: right;
    margin-top: 10px;
    padding: 15px;
}

.price {
    margin-top: 30px;
}


.availability button {
    display: inline-block;
    position: relative;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 0;
    background-color: #07c;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
}
