<div class="searchobject">
  <div class="image">
    <img src="assets/bg_2.jpg" alt="">
  </div>
  <div class="header">
    <h1>{{accUnit.accommodationObject.name}}</h1>
    <p>{{address.street}} {{address.streetNumber}}, {{address.town}}</p>

    <div class="informations">
      <p>
          <b>{{reservation.beginDate}} - {{reservation.endDate}}</b>
      </p>
      <p>
        Object informations: {{accUnit.accommodationObject.description}}
      </p>
      <p>
        Unit informations: {{accUnit.description}}
      </p>
      <p>
        Additional services:
        <b *ngFor="let additionalService of accUnit.additionalServices">{{additionalService.name}} </b>
      </p>
    </div>
  </div>
  <div class="rightside">

    <div class="rating">
      <p>Rating:<b>{{accUnit.rating}}</b> </p>  
      <p>Number of reviews</p>
  
      <div class="price">
        <p>Price per night:</p>
        <p><b>EUR {{this.accUnit.price.price}}</b></p>
      </div>
  
      <div class="availability">
        <button *ngIf="indicator==false">Rate</button>
        <button (click)="cancelReservation()" *ngIf="indicator==true">Cancel</button>
      </div>
  
    </div>

  </div>
  



  
</div>