<app-homepage></app-homepage>

<br/>
<br/>
<div class="wrapper" style="margin-left: 0.5%;">
    <div>
        <h1 style="float: left; margin-right: 5px;">Unpublished comments </h1>
    </div>
    <table class="table table-striped table-sm" id="comments_table">
        <thead>
            <tr>
            <th>CommentID</th>
            <th>UserID</th>
            <th>Comment</th>
            <th>Rating</th>
            <th>AccommodationID</th>
            <th>Published</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments">
            <td>{{comment.id}}</td>
            <td>{{comment.userID}}</td>
            <td>{{comment.comment}}</td>
            <td>{{comment.rating}}</td>
            <td>{{comment.accommodationID}}</td>
            <td>{{comment.published}}</td>
            <td><button *ngIf="!comment.published" (click)="Publish(comment)" type="button" class="btn btn-outline-success">Publish</button>
                <button *ngIf="comment.published" (click)="Publish(comment)" type="button" class="btn btn-outline-success">Unpublish</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>