
<div class="home_search">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="home_search_container">
                  <div class="home_search_title"><span *ngIf="!warning">Search for your accommodation</span><span *ngIf="warning" style="color:red">Search for your car</span></div>
                  <div class="home_search_content">
                      <form action="#" class="home_search_form" id="home_search_form">
                          <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                              
                                      <input type="text" required   class="search_input search_input_1"  matInput placeholder="Destination" [formControl]="destination"    name="destination">
                                      <input matInput required  [matDatepicker]="pickerpickup" (click)="pickerpickup.open()" class="search_input search_input_1 ml-2"  name="checkindate" [formControl]="checkin" placeholder="Check in date">
                                      <mat-datepicker-toggle matSuffix [for]="pickerpickup"></mat-datepicker-toggle>
                                      <mat-datepicker #pickerpickup></mat-datepicker>
                                    
                                      <input matInput required  class="search_input search_input_1 ml-2" [matDatepicker]="pickerdropoff" (click)="pickerdropoff.open()"  name="checkoutdate" [formControl]="checkout" placeholder="Check out date">
                                      <mat-datepicker-toggle matSuffix [for]="pickerdropoff"></mat-datepicker-toggle>
                                      <mat-datepicker #pickerdropoff></mat-datepicker>
                                      <input type="text" required   class="search_input search_input_1"  matInput placeholder="Person"  [formControl]="persons"   name="people">
                                      <button class="home_search_button ml-2" (click)="search()">search</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>