

  <div class="container" style="max-width:390px;">
    <div *ngIf="validEmail" class="back">
      <button (click)="backToEmail()" class="back-button"><i class="fas fa-chevron-left"></i></button><p>Megatravel.com Account</p>
    </div>
    

    <h1>Sign in</h1>

    <p>You can sign in using your Megatravel.com account to access our services.</p>
   
      <div *ngIf="!validEmail" id="em" class="form-group animated bounceInRight">
        <label for="username">Email address</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />

      </div>

      <div *ngIf="validEmail" id="pass" class="form-group animated bounceInLeft">
        <label for="password">Megatravel.com password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
      </div>

      <div *ngIf="validEmail" class="form-group animated bounceInLeft">
          <button (click)="onSubmit()" class="regBtn btn btn-primary">Sign in</button>
          <div *ngIf="isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>
        </div>
      
      <div *ngIf="!validEmail" class="form-group">
        <button (click)="checkEmail()" style="margin-bottom: 20px" class="regBtn btn btn-primary">Next</button>
        <div *ngIf="isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>

      <div class="divider">
        <div class="line">

        </div>
        <div class="text">
          or
        </div>
        <div class="line">

        </div>
      </div>

      <div class="social">
        <div class="fb">
          <button>facebook</button>
        </div>
        <div class="google">
          <button>google</button>
        </div>
      </div>

      <div class="password">
        <button *ngIf="!validEmail">Having trouble signing in?</button>
        <button *ngIf="validEmail">Forgot your password?</button>
      </div>
    
  </div>



<div *ngIf="!validEmail" class="container" style="max-width:390px;margin-top: 4%;">
  <h2>Don't have an account yet?</h2>
  <p style="margin-top: 4%">Create an account to easily use Megatravel.com services.</p>
  <div class="password" style="text-align: left;">
    <button (click)="register()" style="padding: 0px">Create your account</button>
  </div>
</div>
