<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
  <div *ngIf="!isEndpointOK">
    {{ endpointError }}
  </div>
  
</div>
 
<ng-template #loggedOut>
  <div class="container row col-sm-6" style="max-width:350px;">
    <h1>Login</h1>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
          <mat-form-field class="example-form-field">
              <input matInput type="text" placeholder="Username" class="form-control" name="username" #username="ngModel" required [(ngModel)]="form.username">
            </mat-form-field>      
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="example-form-field">
            <input matInput type="password" placeholder="Password" class="form-control" name="password" #password="ngModel" required [(ngModel)]="form.password">
        </mat-form-field>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" mat-raised-button color="primary">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success">Sign Up</a>
  </div>
</ng-template>