<div class="nav">
    <app-navigation></app-navigation>
</div>

<div class="header">
    <h3>{{ searchForm.destination }}: {{accUnits.length}} properties found</h3>
</div>

<div class="side-form">
    <div class="sidesearchform">
        <app-sidesearchform [searchForm]="searchForm"></app-sidesearchform>
    </div>
    <div class="sidefiltersection">
        <app-filtersection (click)="sranje()" [accUnits]="accUnits"  (sorted)="onFilter($event)" (ret)="onDistance($event)"></app-filtersection>
    </div>
    
</div>

<div class="main-container">
    <div class="filterbar"> 
        <app-filterbar [searchForm]="searchForm" [accUnits]="accUnits"  (sorted)="onSorted($event)"></app-filterbar>
    </div>
    
    <div class="searchobject">
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="line-scale-party">
        <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <div *ngFor="let accUnit of accUnits | filter: listToFilter | destinationfilter: destination:listaAdresa:distArray">
            <app-searchobject [searchForm]="searchForm" [accUnit]="accUnit"></app-searchobject>
        </div>
    </div>
</div>

