<div class="header">
  <app-navigation></app-navigation>
</div>

<div class="container bootstrap snippet" style="padding-top: 8%">
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <!--div class="text-center">
        <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
        
        <input type="file" class="text-center center-block file-upload ml-4 mt-4">
      </div><br-->

        </div><!--/col-3-->
    	<div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><button (click)="dashboard()" class="top-buttons">Dashboard</button></li>
                <li class="ml-4"><button (click)="bookings()" class="top-buttons">Bookings</button></li>
              </ul>

              
          <div  *ngIf="!indicator" class="tab-content">
            <div class="tab-pane active" id="home">
             <br>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" [(ngModel)]="logged.name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" [(ngModel)]="logged.surname" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>         
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" [(ngModel)]="logged.telephone" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" [(ngModel)]="logged.email" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button (click)="updateUser()" class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->

            
               
              </div><!--/tab-pane-->
              <div *ngIf="indicator" >
                <!--h1>list of bookings</h1>
                <div class="rating">
                    <h2>booking 1</h2>
                    <button class="btn btn-primary home_search_button ml-2" data-toggle="modal" data-target="#exampleModal">rate</button>
                </div-->
                <app-reservation *ngFor="let reservation of reservations" [reservation]="reservation" (cancelingReservation)="onCancel(event)" [logged]="logged"></app-reservation>
                

                <!-- MODAL -->
      
            </div>
          </div><!--/tab-content-->
  

          

        </div><!--/col-9-->
    </div><!--/row-->
  <!-- Modal -->
