<app-navigation></app-navigation>
<br/>
<br/>

<form class="example-form" (ngSubmit)="onSubmit()">
  <h2>Create new accommodation unit!</h2>

  <mat-form-field>
    <input matInput type="number" min="1" [(formControl)]="numberOfBeds" name="bed" id="bed" placeholder="Number of beds">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(formControl)] ="description" name="desc" id="desc"></textarea>
  </mat-form-field>

  <br/>
  <mat-checkbox [(formControl)]="balcony" name="bal" id="bal">Balcony</mat-checkbox>
  <br/>

  <mat-form-field style="margin-right: 10px;">
    <input matInput [matDatepicker]="pickerr" [formControl]="startDate" placeholder="Price start date">
    <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
    <mat-datepicker #pickerr></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [formControl]="endDate" placeholder="Price end date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Set price" [formControl]="newPriceValue" name="price" type="number" min="0" class="example-right-align">
    <span matSuffix>€</span>
  </mat-form-field> 
<br/>

<mat-selection-list [(ngModel)]="accommodationUnit.additionalServices" name="ass" #additionalServices (selectionChange)="onSelection($event, additionalServices.selectedOptions)">
    <mat-label>Additional services</mat-label>
  <mat-list-option *ngFor="let additionalService of additionalServicesARRAY" [value]="additionalService">
    {{additionalService.name}}
  </mat-list-option>
</mat-selection-list>

<br/>

<div class="form-group">
  <div *ngFor = "let t of imageUrl">
          <img [src]="t" style="width:200px;height:250px; margin-bottom: 6px;">
  </div>
  
  <input type="file" #Image accept="image/*"  (change)="handleFileInput($event.target.files)"  class="form-input" />
</div>

  <div style="margin-top: 5%;">
    <button class="btn btn-outline-secondary" style="margin-right: 4px; float:left;">Cancel</button> 
    <button type="submit" style="margin-right: 4px; float:right;" class="btn btn-outline-success">Create</button>
  </div>
  

</form>
