<app-navigation></app-navigation>

<br/>
<br/>
<button *ngIf="!show_register_form" class="btn btn-outline-primary centered" (click)="addAccUnit()">Add new accommodation unit</button>
<div class="container">
    <div *ngIf="show_register_form" class="centeredTitle">
        <h1>Create new accomodation unit</h1>
    </div>

    <div *ngIf="show_register_form" id="em" class="form-group" id="centeredForm" style="width:25%;">
        <div class="form-group">
            <label for="numberOfBeds">Number of beds:</label>
            <input type="number" class="form-control" name="numberOfBeds" [formControl]="numberOfBeds" required />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" [formControl]="description" required></textarea>  
        </div>
        <div style="width:95%">
            <label style=" float:left">Balcony</label>
            <mat-checkbox class="example-margin" name="balcony" [formControl]="balcony" (change)="balconyChanged()" style="float:right"></mat-checkbox>
        </div>
        <!-->div id="priceFORM">
          
          <select style="width:100px !important; float:left;" [(ngModel)]="accommodationUnit.price" #price>
            <option *ngFor="let price of prices" [ngValue]="price" >{{price.price}}</option>
          </select>
        </div-->
        <div  id="em2" class="form-group" style="width:25%;">
          <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
            <div class="">                
              <label for="name" class="col-form-label">Price start date:</label>
              <mat-form-field class="example-full-width">
                <input matInput required [matDatepicker]="picker3" [formControl]="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="" style="margin-left: 15px;">
              <label for="name" class="col-form-label">Price end date:</label>
              <mat-form-field class="example-full-width">
                <input matInput required [matDatepicker]="picker2" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="newPrice">Price</label> 
            <input type="number" class="form-control" name="newPriceValue" [formControl]="newPriceValue"  required />
          </div>
        <!--button style="width:100px !important; width:55px !important; padding: 0.7px 5px; margin-left:10px;" class="btn btn-outline-primary" (click)="showPriceFrom()">New</button-->
        <div class="">
            <label >Additional services:</label>
            <div>
              <mat-selection-list [(ngModel)]="accommodationUnit.additionalServices" #additionalServices>
                <mat-list-option *ngFor="let additionalService of additionalServicesARRAY" [value]="additionalService">
                  {{additionalService.name}}
                </mat-list-option>
              </mat-selection-list>
            </div>
        </div>
    <button (click)="Cancel()" style="margin-top:5%;" *ngIf="show_register_form" class="btn btn-outline-primary">Cancel</button>
    <div class="form-group" style="margin-top:5%; float:right;">
      <button (click)="onSubmit()" *ngIf="show_register_form" class="btn btn-outline-success">Create</button>
    </div>
  </div>
</div>
