<div class="searchobject">
  <div class="image">
    <img src="assets/bg_2.jpg" alt="">
  </div>
  <div class="header">
    <h1>Naslov smestaja</h1>
    <p>Adresa smestaja</p>

    <div class="informations">
      <p>
        Informacije vezane za smestaj
      </p>
    </div>
  </div>
  <div class="rightside">

    <div class="rating">
      <p>Naziv ocene <b>10.0</b> </p>  
      <p>broj review-ova</p>
  
      <div class="price">
        <p>Price for n nights</p>
        <p>RSD 12,459</p>
      </div>
  
      <div class="availability">
        <button>See availability</button>
      </div>
  
    </div>

  </div>
  



  
</div>