<div class="searchobject">
  <div class="image">
    <img src="assets/bg_2.jpg" alt="">
  </div>
  <div class="header">
    <h1>{{accUnit.accommodationObject.name}}</h1>
    <p>{{address.street}} {{address.streetNumber}}, {{address.town}}</p>

    <div class="informations">
      <p>
        Informacije vezane za smestaj
      </p>
    </div>
  </div>
  <div class="rightside">

    <div class="rating">
      <p>Rating Score <b>{{accUnit.rating}}</b> </p>  
      <p>broj review-ova</p>
  
      <div class="price">
        <p>Price for n nights</p>
        <p>EUR {{this.accUnit.price.price}}</p>
      </div>
  
      <div class="availability">
        <button (click)="makeAReservation()">Book</button>
      </div>
  
    </div>

  </div>
  



  
</div>