<configuration debug="false">
	<property name="namee" value="as" />
	<contextName>${HOSTNAME}</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%d{hh:mm:ss} %-5level %logger{36}.%M\(%line\) - %msg%n
            </pattern>
        </encoder>
    </appender>

	<timestamp key="byDay" datePattern="yyyyMMdd'T'hhmmss" />
    <appender name="STDERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/errorFile.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logs/errorFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      <timeBasedFileNamingAndTriggeringPolicy
	      	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        <maxFileSize>10MB</maxFileSize>
	      </timeBasedFileNamingAndTriggeringPolicy>
	      <maxHistory>30</maxHistory>
    	</rollingPolicy>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%contextName | %d{yyyy-MM-dd hh:mm:ss} | as.%logger{0} | %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <timestamp key="byDay" datePattern="yyyyMMdd'T'hhmmss" />
    <appender name="STDWARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/warningFile.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logs/warningFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      <timeBasedFileNamingAndTriggeringPolicy
	      	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        <maxFileSize>10MB</maxFileSize>
	      </timeBasedFileNamingAndTriggeringPolicy>
	      <maxHistory>30</maxHistory>
    	</rollingPolicy>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%contextName | %d{yyyy-MM-dd hh:mm:ss} | as.%logger{0} | %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <timestamp key="byDay" datePattern="yyyyMMdd'T'hhmmss" />
    <appender name="STDINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/infoFile.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logs/infoFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      <timeBasedFileNamingAndTriggeringPolicy
	        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	      	<maxFileSize>10MB</maxFileSize>
	      </timeBasedFileNamingAndTriggeringPolicy>
	      <maxHistory>30</maxHistory>
    	</rollingPolicy>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
         <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%contextName | %d{yyyy-MM-dd hh:mm:ss} | as.%logger{0} | %msg%n
            </pattern>
        </encoder>
    </appender>

	<root level="info">
        <appender-ref ref="STDOUT" />
    </root>

	<logger name="com.ftn.reservationservice" level="trace" additivity="false" >
  		<appender-ref ref="STDERR" />
  		<appender-ref ref="STDWARN" />
  		<appender-ref ref="STDINFO" />
	</logger>
	
        
</configuration>