@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Home Search
7. Intro
8. Destinations
9. Testimonials
10. News
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.elements{
	
	
}

.theelements {
	display:inline-block;
	text-align: center;

}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.9285;
	font-weight: 400;
	color: #72728c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid blue;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: blue;
}
p a:hover
{
	color: #FFFFFF;
	background: blue;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 72px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: black;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 834px;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_content_container
{
	position: absolute;
	top: 31.5%;
	left: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}
.home_title h2
{
	font-size: 100px;
	line-height: 1.1;
	font-weight: 400;
	color: #FFFFFF;
}
.home_page_nav
{
	position: absolute;
	right: 119px;
	top: 44.2%;
	z-index: 2;
}
.home_page_nav ul li
{
	position: relative;
}
.home_page_nav ul li a
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: rgba(255,255,255,0.63);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.home_page_nav ul li:not(:last-child)
{
	margin-bottom: 32px;
}
.home_page_nav ul li span
{
	margin-left: 30px;
}
.home_page_nav ul li::after
{
	display: block;
	position: absolute;
	right: -4px;
	bottom: -6px;
	width: 0px;
	height: 2px;
	background: rgba(255,255,255,0.63);
	visibility: hidden;
	opacity: 0;
	content: '';
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.home_page_nav ul li:hover::after
{
	visibility: visible;
	opacity: 1;
	background: rgba(255,255,255,1);
	width: calc(100% + 28px);
}
.home_page_nav ul li:hover a
{
	color: rgba(255,255,255,1);
}


/*********************************
7. Intro
*********************************/

.intro
{
	width: 100%;
	background: #FFFFFF;
	z-index: 1;
}
.intro_background
{
	position: absolute;
	top: -128px;
	left: 0;
	width: 100%;
	height: 480px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.intro_container
{
	width: 100%;
	
	padding-top: 142px;
	
}

.intro_icon
{
	width: 70px;
	height: 71px;
}
.intro_icon img
{
	max-width: 100%;
}
.intro_content
{
	padding-left: 28px;
}
.intro_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #181818;
	font-weight: 400;
}

.hamburger
{
	display: none;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	cursor: pointer;
	margin-left: 20px;
}
.header.scrolled .hamburger
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.hamburger i
{
	font-size: 24px;
	color: #FFFFFF;
}
.hamburger:hover i
{
	color: #fa9e1c;
}
.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right,#606c88, #3f4c6b);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}
.menu.active
{
	opacity: 0.95;
	visibility: visible;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_logo
{
	margin-bottom: 28px;
}
.menu_logo a img
{
	width: 40px !important;
}
.menu_item button
{
	display: inline-block;
	position: relative;
	font-family: 'Beyond';
	font-size: 36px;
	color: #FFFFFF;
	background: transparent;
	border: 2px solid transparent;
	cursor: pointer;
	font-weight: 400;
}
.menu-item button:hover {
	border-bottom: 2px solid white;
}
.menu_item button::after
{
	display: block;
	position: absolute;
	top: 60%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover button::after
{
	width: 100%;
	
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fa9e1c;
}

/*********************************
6. Home Search
*********************************/

.home_search
{
	width: 100%;
	height: 0;
	background: #FFFFFF;
	z-index: 1;
}
.home_search_container
{
	position: absolute;
	top: -353px;

	padding-top: 47px;
	padding-left: 61px;
	padding-right: 61px;
	padding-bottom: 59px;
	background: rgba(255,255,255,0.26);
	border-radius: 12px;
}
.home_search_title
{
	width: 247px;
	height: 55px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 55px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #2e2e2e;
	font-weight: 400;
	text-align: center;
}
.home_search_content
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 67px;
	padding-right: 83px;
}
.search_input
{
	height: 50px;
	background: #f2f5f6;
	border: none;
	outline: none;
	padding-left: 17px;
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #72728c !important;
}
.search_input_1
{
	width: 25%;
}
.search_input_2
{
	width: 15%;
}
.search_input_3
{
	width: 15%;
}
.search_input_4
{
	width: 20%;
}
.search_input::-webkit-input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input:-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.home_search_button
{
	width: 161px;
	height: 52px;
	background: #181818;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
}

 

/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1800px
************/

@media only screen and (max-width: 1800px)
{
	.header_social
	{
		display: none !important;
	}
}

/************
2. 1480px
************/

@media only screen and (max-width: 1480px)
{
	.home_page_nav
	{
		right: 60px;
	}
	.test_nav
	{
		display: none;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-left: 150px;
	}
	.header_phone
	{
		margin-right: 0;
	}
	.travello
	{
		margin-top: 90px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_phone
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.home_page_nav
	{
		position: absolute;
		right: 40px;
		top: auto;
		bottom: 40px;
	}
	.home_page_nav ul li:not(:last-child)
	{
		margin-bottom: 25px;
	}
	.home_slider_content_container
	{
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.home_title h2
	{
		font-size: 72px;
	}
	.home_search
	{
		height: auto;
		
	}
	.home_search_container
	{
		position: relative;
		top: auto;
		width: 100%;
		left: auto;
	}
	.home_search_content
	{
		padding-left: 0;
		padding-right: 0;
	}
	.search_input
	{
		width: 100%;
		margin-bottom: 12px;
	}
	.home_search_button
	{
		width: 100%;
		margin-top: 10px;
	}
	.intro_background
	{
		display: none;
	}
	.intro_container
	{
		border-top: solid 2px #e4e6e8;
		padding-top: 121px;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 50px;
	}
	.destination
	{
		width: calc(100% / 2);
	}
	.testimonial
	{
		font-size: 24px;
	}
	.footer_contact_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_search_container
	{
		
	}
	.destinations_container
	{
		width: 100%;
		left: auto;
	}
	.destination
	{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.news_post_image
	{
		width: 100%;
	}
	.news_post_content
	{
		width: 100%;
		padding-left: 0px;
		margin-top: 27px;
	}
	.newsletter_form > div:not(:last-child)
	{
		margin-right: 0px;
	}
	.newsletter_form > div:first-child
	{
		width: 100%;
	}
	.newsletter_form > div:first-child > div:first-child
	{
		width: 100%;
		margin-bottom: 15px;
	}
	.newsletter_form > div:first-child > div:last-child
	{
		width: 100%;
		margin-bottom: 20px;
	}
	.newsletter_form > div:last-child
	{
		margin-left: auto;
		margin-right: auto;
	}
	.newsletter_input
	{
		height: 40px;
	}
	.newsletter_button
	{
		font-size: 14px;
	}
	.newsletter_title
	{
		font-size: 28px;
	}
	.newsletter_subtitle
	{
		font-size: 16px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.home_page_nav
	{
		display: none;
	}
	.section_title h2
	{
		font-size: 36px;
	}
	.menu_content ul li a
	{
		font-size: 24px;
	}
	.home
	{
		height: 100vh;
	}
	.home_title h2
	{
		font-size: 48px;
	}
	.search_input
	{
		height: 40px;
	}
	.search_input::-webkit-input-placeholder
	{
		font-size: 13px !important;
	}
	.search_input:-moz-placeholder
	{
		font-size: 13px !important;
	}
	.search_input::-moz-placeholder
	{
		font-size: 13px !important;
	} 
	.search_input:-ms-input-placeholder
	{ 
		font-size: 13px !important;
	}
	.search_input::input-placeholder
	{
		font-size: 13px !important;
	}
	.home_search_button
	{
		height: 42px;
		font-size: 12px;
	}
	.destination_title a
	{
		font-size: 24px;
	}
	.destination_price
	{
		font-size: 14px;
	}
	.testimonial
	{
		font-size: 18px;
	}
	.news_post_date div:first-child
	{
		font-size: 36px;
	}
	.news_post_title a
	{
		font-size: 24px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}