<div class="filterbar">
  <ul>
    <li><button (click)="priceLowest()" >Price <span *ngIf="lowestPriceBoolean">(lowest first)</span><span *ngIf="!lowestPriceBoolean">(highest first)</span></button></li>
    <li><button (click)="distance()">Distance from destination</button></li>
    <li><button (click)="review()">Review score <span *ngIf="lowestRatingBoolean">(lowest first)</span><span *ngIf="!lowestRatingBoolean">(highest first)</span></button></li>
    <li><button (click)="category()">Category <i class="fas fa-star"></i> <span *ngIf="lowestCategoryBoolean">(lowest first)</span><span *ngIf="!lowestCategoryBoolean">(highest first)</span></button></li>
  </ul>
</div>