

  <div class="container" style="max-width:390px;">
    <div *ngIf="validEmail" class="back">
      <button (click)="backToEmail()" class="back-button"><i class="fas fa-chevron-left"></i></button><p>Megatravel.com Account</p>
    </div>
    

    <h1>Sign in</h1>

    <p>You can sign in using your Megatravel.com account to access our services.</p>
   
      <div *ngIf="!validEmail" id="em" class="form-group animated bounceInRight">
        <label for="username">Email address</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />

      </div>

      <div *ngIf="validEmail" id="pass" class="form-group animated bounceInLeft">
        <label for="password">Megatravel.com password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
      </div>

      <div *ngIf="validEmail" class="form-group animated bounceInLeft">
          <button (click)="onSubmit()" class="regBtn btn btn-primary">Sign in</button>
          <div *ngIf="isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>
        </div>
      
      <div *ngIf="!validEmail" class="form-group">
        <button (click)="checkEmail()" style="margin-bottom: 20px" class="regBtn btn btn-primary">Next</button>
        <div *ngIf="isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>

      <div class="divider">
        <div class="line">

        </div>
        <div class="text">
          or
        </div>
        <div class="line">

        </div>
      </div>

      <div class="social" style="margin-left: 15%;">
        <div class="fb">
          <img src="..\..\..\assets\img\facebook.png" />
        </div>
        <div class="google" style="margin-left: 35%;">
          <img src="..\..\..\assets\img\search.png">
        </div>
      </div>

  
  </div>
